<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src='https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js'></script>
<webcam
[width] = "300"
[trigger]="triggerObservable"
[allowCameraSwitch]="cameraSwitch"
(imageCapture)="analyseImage($event)">
</webcam>
<div>
  <button (click)="activateLoop()">start scanning</button>
  <p>{{displayProgress}}</p>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col-sm-3">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input [(ngModel)]="loginUserData.email" type="email" id="email" class="form-control" placeholder=" " required>
      <label for="email">Email</label>
    </div>

    <div class="form-floating">
      <input [(ngModel)]="loginUserData.password" type="password" id="pass" class="form-control" placeholder=" " required>
      <label for="pass">Password</label>
    </div>
    <div class="infoRow">
      <span class="rrr"> {{display}}</span>
      <a id="float-right" href="">Register</a>
    </div>
    <button (click)="loginUser()" class="w-100 btn btn-lg btn-primary" id="555" type="submit">Sign in</button>
  </div>
  <div class="col"></div>
</div>
